name: publish deb package
on: push

jobs:
  build-debs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # - name: Build distribution
      #   run: make dist
      # - name: copy distribution file to root
      #   run: cp dist/*.tar.gz ${GITHUB_WORKSPACE}/.. && rm -fR dist/
      - uses: mstraubAC/build-deb-action@v1.3.0
        env:
          DEB_BUILD_OPTIONS: noautodbgsym
        with:
          docker-image: debian:bullseye-slim
          host-arch: amd64
          use-debuild: true
      - name: list GITHUB_WORKSPACE
        run: ls -l ${GITHUB_WORKSPACE}
      - name: list GITHUB_WORKSPACE/debian/artifacts/
        run: ls -l ${GITHUB_WORKSPACE}/debian/artifacts/

      - name: Publish deb files via SSH
        uses: nicklasfrahm/scp-action@main
        with:
          direction: upload
          host: ${{ secrets.SSH_TARGET_HOST }}
          fingerprint: ${{ secrets.SSH_TARGET_FINGERPRINT }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: |
            ${GITHUB_WORKSPACE}/debian/artifacts/*
          target: .