on: push

jobs:
  build-debs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # - name: Build distribution
      #   run: make dist
      # - name: copy distribution file to root
      #   run: cp dist/*.tar.gz ${GITHUB_WORKSPACE}/.. && rm -fR dist/
      - uses: mstraubAC/build-deb-action@feature/debuild
        env:
          DEB_BUILD_OPTIONS: noautodbgsym
        with:
          docker-image: debian:bullseye-slim
          host-arch: amd64
          use-debuild: true
      - name: list GITHUB_WORKSPACE
        run: ls -l ${GITHUB_WORKSPACE}
      - name: list GITHUB_WORKSPACE/..
        run: ls -l ${GITHUB_WORKSPACE}/..
